* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("assets/noise.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-color: #1b1b1b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  border-radius: 100%;
  cursor: pointer;
  place-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  background-color: #222222;
  box-shadow: #000000 0px 0px 20px 0px;
  outline: none;
  border: none;
}

.button:active {
  transform: scale(0.9);
}

.right {
  background-image: url("assets/right.png");
}

.wrong {
  background-image: url("assets/wrong.png");
  background-position: top right;
}
